.git
.github
.venv
.pytest_cache
.ruff_cache
.pyrefly
.coverage
.mypy_cache
.DS_Store
AWSCLIV2.pkg

.tmp_untracked
artifacts
comments
traces

ui/.next
ui/node_modules

data/artifacts
data/traces

__pycache__
*.pyc
*.pyo
*.pyd
