#!/bin/bash
set -euxo pipefail

dnf update -y
dnf install -y docker docker-compose-plugin

systemctl enable --now docker
systemctl enable --now amazon-ssm-agent || true

mkdir -p /opt/ikea-agent ${artifact_root_dir}
chown -R ec2-user:ec2-user /opt/ikea-agent ${artifact_root_dir}

usermod -aG docker ec2-user
